*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.signinpage img{
    z-index: -1;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.signinpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.signinbox{
    border: 5px solid #D7462A;
    padding: 40px 30px;
    border-radius: 10px;
    font-size: 25px;
    width: 40%;
}

form{
    position: relative;
    padding: 10px 0px;
    margin: 20px;
}

form label{
    font-size: 25px;
    padding: 20px 0px;
}

form input{
    position: absolute;
    right: 0;
    font-size: 20px;
    
}

form button{
    align-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0%;
}

/* .signinbox{
    background-color: black;
    padding: 40px 30px;
    border-radius: 10px;
    font-size: 25px;
}

form{                                this whole code is for mobile
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form input{
    padding: 5px 10px;
    font-size: 20px;
    margin: 10px 0px;
}

form button{
    padding: 10px;
    font-size: 20px;
    margin: 10px 0px;
} */
